*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: rgb(234, 222, 184);
    font-family: 'Roboto', sans-serif;
}
/* Estilos para el header */

.header{
    height: 150px;
    box-shadow: 0 2px 5px rgb(0 0 0 / 30%);
    padding: 1rem;
    position: relative;
    background-color: rgb(160, 159, 87); 
    /* margin-bottom: 50px; */
}
.header__contenedor{
    margin:auto 0;
    height: 150px;
    display: flex ;
    justify-content: space-between;
    align-items: center;
}
ul{
   padding-right: 2rem;
   list-style: none;
}
.header__logo{
    width: 150px;
    height: 150px;
    margin-left: 2rem;
}
.header__logo img{
    height: 100%;   
}
.nav__lista{
    display: flex;
    gap: 1.5rem;
    font-size: 20px;
    text-transform: uppercase;
    color: rgb(255, 255, 255);    
}
nav ul li a {
    display: block;
    color: rgb(255, 255, 255);
    text-decoration:  none;
    font-weight: 700;
    position: relative;
}
nav ul li a:hover{
    color:rgb(104, 61, 16);
}

nav ul li a::after{
    content: "";
    position: absolute;
    top:100%;
    left: 0%;
    width: 100%;
    height: 3px;
    background-color: rgb(104, 61, 16);
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.5s;
}

nav ul li a:hover::after{
    transform: scaleX(1);
    transform-origin: left;
}


/* Estilos para el Cuerpo de la pagina inicio */

.carousel-item active{
    position: relative;
}


.Tituloprueba__p {
	text-transform: uppercase;
	letter-spacing: 2em;
	display: inline-block;
	border-width: 4px 0;
	padding: 1.5em 0em;
	position: absolute;
	top: 0%;
	left: 60%;
	width: 40em;
    margin: 0 0 0 -20em;
} 
  
.Tituloprueba__span {

  	font: 900 4em/1 "Oswald", sans-serif;
  	letter-spacing: 0.5rem;
  	/* padding: .25em 0 .325em; */
	  display: block;
	  margin: 0 auto;
      margin-left: 3%;
  	text-shadow: 0 0 80px rgba(255, 255, 255, 0.5);

/* Clip Background Image */

      background: rgb(160,157,17);
      background: linear-gradient(13deg, rgba(160,157,17,1) 0%, rgba(104,61,16,1) 44%);
	  -webkit-background-clip: text;
	  background-clip: text;

/* Animate Background Image */

	  -webkit-text-fill-color: transparent;
	  -webkit-animation: aitf 80s linear infinite;

/* Activate hardware acceleration for smoother animations */

	  -webkit-transform: translate3d(0,0,0);
	  -webkit-backface-visibility: hidden;

  }


/* Animate Background Image */

@-webkit-keyframes aitf {
	0% { background-position: 0% 50%; }
	100% { background-position: 100% 50%; }
 }

h2{
    font-size: 60px;
    text-align: center;
    color: rgb(104, 61, 16);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 60px;
}
.h2titulos {
    margin-top: 60px;
    font-size: 2rem;
    margin-bottom: 1rem;
    font-weight: 500;
    line-height: 1.2;
}

h3{
    font-size: 30px;
    text-align: center;
    color:rgb(160, 159, 87);
    margin-bottom: 50px;
}
h4{
    font-size: 26px;
    margin-bottom: 10px;
}
h5{
    font-size: 20px;
    margin-bottom: 10px;
}

.inicio__contenedor{
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 3rem;
}
.inicio__video{
    margin-bottom: 50px;
}
.inicio__parrafo{
    font-size: 22px;
    margin-bottom: 30px;
}
.inicio__whatsapp{
    font-size: 50px;
    color:green;    
}
/* Estilos para el cuerpo de la pagina Servicios */

.card{
    margin: auto;
    margin-top: 60px;
    background-color: rgb(234, 222, 184);
}
.card-title{
    margin-bottom: 20px;
    font-size: 25px;
}
/* Estilos para el cuerpo de la pagina Galeria */

.galeria{    
    width: 100%;
}
.galeria__contenedor{
    display: grid;
    grid-template-columns: 400px 400px;
    justify-content: center;
    align-content: center;
    grid-row-gap: 30px;
    grid-column-gap: 15px;
    width: 100%;
    margin: auto;
    margin-bottom: 200px;
}
/* Estilos para el cuerpo de la pagina Nosotros */

.nosotros__parrafo{
    width: 100%;
    font-size: 25px;
    margin-bottom: 30px;
    padding: 30px;
    margin:auto;
}
.nosotros__img{     
    padding:30px;
    margin:auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 80px;
}
.nosotros__img img{
    width: 100%;
    height: auto;
    padding: 1rem;
}
/* Estilos para el cuerpo de la pagina Contacto */

.contacto__formulario{
    Margin-bottom: 250px;
    padding: 30px;
    font-size: 20px;
}
/* Estilo para el footer */

.footer__logo{
    width: 120px;
    height: 120px;
    margin-left: 10px;
}
.text-white{
    text-decoration: none;
    font-size: 14px;
}


/* Full Responsive para tablet */

@media screen and (max-width: 1024px) {
    .header{
        height: auto;
    }
    .header__logo{
        width: 120px;
        height: 120px;        
    }
    .header__contenedor{
        gap: 2rem;
    }
    .nav__lista{
        flex-wrap: wrap;
        justify-content: center;  
    }
    .titulo{
        font-size: 25px;
    }
    .inicio__video{
        width: 75%;
    }
    h4{
        font-size: 22px;
    }
    .inicio__parrafo{
        font-size: 20px;
    }
    .inicio__contenedor{
        flex-direction: column;
    }
    .inicio__contenedor video{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .servicios__contenedor1{
        flex-direction: column;
    }
    .servicios__contenedor2{
        flex-direction: column;
    }
    .servicios__contenedor3{
        flex-direction: column;
    }
    h2{
        font-size: 45px;
    }
    .servicios__h3{
        font-size: 30px;
    }
    .servicios__parrafo{
        text-align: center;
        font-size: 20px;
    }
    .servicios__img{
        margin:auto;
    }
    .galeria__contenedor{
        grid-template-columns: 1fr;
        justify-items: center;
        align-items: center;
        margin: auto;
        margin-bottom: 100px;
    }
    .galeria__contenedor img{
        width: 100%;
        height: 100%;
    }
    .nosotros__parrafo{
        font-size: 20px;
    }
    .nosotros__img{
        flex-direction: column;
    }
    .footer__contenedor{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 1rem;
    }
    .footer__redes{
        align-items:flex-start;
    }
}    
/* Full Responsive para mobile */

@media screen and (max-width: 600px) {
    .header__contenedor{
        flex-direction: column;
        gap: 0px;
        justify-content: center;
    }    
    .header__logo{
        width: 100px;
        height: 100px;        
    }
    .nav__lista{
        flex-wrap: wrap;
        font-size: 20px;
        gap: 0.5rem;
    }    
    .titulo{
        font-size: 18px;
    }
    h4{
        font-size: 18px;
    }
    .inicio__parrafo{
        font-size: 14px;
    }
    h2{
        font-size: 30px;
    }
    .servicios__h3{
        font-size: 20px;
    }
    .servicios__parrafo{
        text-align: center;
        font-size: 16px;
    }
    .servicios__img{
        width: 75%
    }
    .nosotros__parrafo{
        font-size: 16px;
        margin-bottom: 20px;
    }
}
